span.collapsed {
  cursor: pointer;
  background-image: url("expand.png");
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 12px;
}

span.expanded {
  cursor: pointer;
  background-image: url("collapse.png");
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 12px;
}

.title {
  background-color: black;
  font-weight: bold;
  color: white;
}

.level0 {
  background-color: #0047ff;
}

.level1 {
  background-color: #0099ff;
}

.level2 {
  background-color: #99ccff;
}

.level3 {
  background-color: #bfdbf8;
}

.level4 {
  background-color: #e7ecf2;
}

.highlight {
  background-color: #e0faf3;
}

.score {
  text-align: center;
}

A:link    {  text-decoration: none; color: #0b1c51}
A:visited {  text-decoration: none; color: #0b1c51}
A:hover   {  text-decoration: underline; color: #0b1c51}

span.logo_html {
  background-image: url("html.png");
  background-repeat: no-repeat;
  background-position: center left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
}